@font-face {
	font-family: "VCR";
	src: url('better-vcr5.1.ttf');
}

body{
	background: url('https://i.gifer.com/1kYs.gif');
	background-size: cover;
	background-repeat: no-repeat;
}


.minutes::after{
	content: ':';
	margin: 10px;
	position: relative;
	top: -10px;
	animation: flicker 2s infinite;
}
.hours::after{
  content: ':';
	margin: 10px;
	position: relative;
  top: -10px;
	animation: flicker 2s infinite;
}
.clock{
	display: flex;
	font-size: 80px;
}
.container{
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
	top: 50%;
	text-shadow: 0px 0px 10px rgba(111, 160, 174, 0.11), 10px 0px 10px rgba(53, 170, 202, 0.1), 0px 0px 10px rgba(53, 170, 202, 0.218);
  color: rgb(39, 109, 129);
	font-family: 'VCR';
}
.date{
	font-size: 30px;
	margin: 10px auto;
	text-align: center;
}

@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.1; }
  100% { opacity: 1; }
}
